<div class="game">
  <div class="game-table">
    <%= for card <- @game.table do %>
      <div class="<%= card_classname(card) %>">
        <%= for i <- 1..card.number do %>
          <div class="shape">
            <div class="inner"></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
