.game {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f1f1f1;
  transition: background-color 0.2s;
}

.game-actions {
  margin: 5vh;
}

.game.isSet {
}

.game.gameOver .card .shape {
  background-color: #ccc !important;
  border-color: #ccc !important;
}

.game-table {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-basis: auto;
  width: 22vw;
  height: 20vh;
  margin: 1vh 0.7vw;
  border-radius: 1vw;
  padding: 2vw 1.5vw;
  box-shadow: 0 0.2vh 0.5vh 0 rgba(0,0,0,0.35);
  transition: box-shadow 0.1s, top 0.1s, width 0.1s;
  cursor: pointer;
  top: 0;
}

.card.selected {
  box-shadow: 0vh 1.3vh 0.5vh 0 rgba(0,0,0,0.35);
  top: -1.3vh;
  width: 24vw;
}

.card .shape {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.4vw;
  height: 100%;
  margin: 0 5%;
  transition: background-color 1.1s, border-color 1.1s;
}

.card.initial .shape {
  background-color: white !important;
  border-color: white !important;
}

.red .shape {
  background-color: #ef60a7;
  border-color: #ef60a7;
}

.green .shape {
  background-color: #40e0bc;
  border-color: #40e0bc;
}

.purple .shape {
  background-color: #6570c7;
  border-color: #6570c7;
}

.inner {
  display: none;
  width: 80%;
  height: 85%;
  background-color: white;
}

/* Diamonds need a bit more border than other shapes */
.diamond .shape .inner {
  width: 70%;
  height: 75%;
}

.pill .shape, .pill .shape .inner {
  -webkit-clip-path: ellipse(50% 50% at 50% 50%);
  clip-path: ellipse(50% 50% at 50% 50%);
}

.diamond .shape, .diamond .shape .inner {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.squiggle .shape, .squiggle .shape .inner {
  /* For now, displaying this as a rect */
}

.empty .shape .inner {
  display: block;
}

.shaded .shape .inner {
  display: block;
  background: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1.0) 0vh,
    rgba(255, 255, 255, 1.0) 1vh,
    rgba(255, 255, 255, 0.0) 1vh,
    rgba(255, 255, 255, 0.0) 2vh
  )
}

@media (orientation: portrait) {
  .card {
    width: 30vw;
    height: 12vh;
  }

  .card.selected {
    width: 31.5vw;
  }

  .shaded .shape .inner {
    background: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 1.0) 0vh,
      rgba(255, 255, 255, 1.0) 0.5vh,
      rgba(255, 255, 255, 0.0) 0.5vh,
      rgba(255, 255, 255, 0.0) 1vh
    )
  }
}
